<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.acrazyblueblob.chromosaur2k17"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Chromosaur 2K17</name>

    <description>
        An app made using Scratch, Phonegap, github, and PhoneGap
    </description>

    <author href="http://scratch.mit.edu/users/ACrazyBlueBlob" email="Ammon@Kludgeless.com">
        ACrazyBlueBlob
    </author>
<icon src="icon-60@3x.png" platform="ios" width="180" height="180" />
</widget>
